.timeline {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
}
.header {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--pdg-min);
  border: 1px solid var(--border-color);
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tweet-editor {
  display: flex;
  column-gap: 20px;
  padding: 5px var(--pdg-min);
  border-bottom: 1px solid var(--border-color);
}
.tweet-editor-form {
  width: 100%;
}
.tweet-editor-input {
  font-size: 1.2rem;
  height: 50px;
  width: 100%;
  background-color: var(--black-color);
  border: none;
}
.tweet-editor-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.tweet-editor-actions img {
  margin-right: 12px;
}
.button {
  padding: 10px;
  background-color: var(--blue-color);
  border-radius: 30%;
  border: none;
}
.tweet {
  display: flex;
  column-gap: var(--pdg-min);
  min-width: 100%;
  padding: 5px var(--pdg-min);
  border-bottom: 1px solid var(--border-color);
}
.tweet-title {
  display: flex;
}
.tweet-title-details {
  color: var(--gray-color);
}
.tweet-content {
  width: 100%;
}
.tweet-image img {
  margin-block: var(--pdg-min);
  border-radius: 36px;
}
.tweet-actions {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  width: 80%;
  padding-inline: 5px;
}
.tweet-action {
  display: flex;
  align-items: center;
  column-gap: var(--pdg-min);
}