/* NAVIGATION MOBILE
.sidebar-head-mobile {
  width: 100%;
  padding: 0 var(--pdg-min);
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
}
.sidebar-head-mobile > div {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--pdg-min);
}
.sidebar-head-mobile .avatar {
  width: 40px;
  height: 40px;
}
.sidebar-head-mobile > div:first-child {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.sidebar-head-mobile > div:last-child {
  font-size: 1.2rem;
  padding-inline: var(--pdg-max);
}
.sidebar-head-mobile > div:last-child a:hover{
  color: var(--blue-color);
}
.sidebar-head-mobile > div:last-child a:focus{
  color: var(--light-color);
}
.sidebar-head-mobile > div:last-child a:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--light-color);
  transform: translateY(8px);
}
.sidebar-foot-mobile {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  width: 100%;
  padding: var(--pdg-min) var(--pdg-max);
  position: fixed;
  bottom: 0;
}

/* RESPONSIVE NAVIGATION MOBILE */
/* @media screen and (min-width: 786px) {
  .sidebar-head-mobile > div:last-child {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .sidebar-mobile {
    display: none;
  }
} */ */


/* SIDEBAR DESKTOP */
.sidebar {
 display: none;
}

/* RESPONSIVE SIDEBAR*/
@media screen and (min-width: 1024px) {
  .sidebar {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    row-gap: var(--pdg-min);
    width: 220px;
  }
}

/* TIMELINE*/
.timeline {
  max-width: 700px;
  border: 1px solid var(--border-color);
  margin: 63px auto 0 auto;
}
.header {
  display: none;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tweet-editor {
  display: flex;
  column-gap: 20px;
  padding: 10px var(--pdg-min);
  border-bottom: 1px solid var(--border-color);
}
.tweet-editor-form {
  width: 100%;
}
#newTweet {
  width: 100%;
  height: 40px;
  background-color: var(--dark-color);
  border: none;
}
#newTweet::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 10px;
}
.tweet-editor-actions {
  display: flex;
  column-gap: 10px;
}
.tweet-editor-buttons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--pdg-min);
}
.tweet-editor-actions label {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
}
.tweet-editor-actions label:hover {
 cursor: pointer;
 opacity: .5;
}
.tweet-editor-form label span {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tweet-editor-form label input {
  width: 24px;
  height: 24px;
  border: none;
}
.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  padding: 3px 12px;
  color: var(--light-color);
  opacity: 0.8;
  background-color: var(--blue-color);
  border-radius: 15px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  opacity: .5;
}
.tweet {
  display: flex;
  column-gap: var(--pdg-min);
  min-width: 100%;
  padding: 5px var(--pdg-min);
  border-bottom: 1px solid var(--border-color);
}
.tweet-title {
  display: flex;
}
.tweet-title-details {
  color: var(--gray-color);
}
.tweet-content {
  width: 100%;
}
.tweet-image {
  width: 100%;
  height: 250px;
}
.tweet-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: var(--pdg-min);
  border-radius: 15px;
}
.tweet-actions {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  max-width: 80%;
  padding-inline: 5px;
  margin-top: 30px;
}
.tweet-action {
  display: flex;
  align-items: center;
  column-gap: var(--pdg-min);
}

/* RESPONSIVE TIMELINE*/
@media screen and (min-width: 786px) {
  .timeline {
    margin: 35px auto 0;
  }
}
@media screen and (min-width: 1024px) {
  .timeline {
    margin: 0 auto;
  }
  .header {
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--pdg-min);
    border: 1px solid var(--border-color);
  }
}

/* ASIDE */
.local-aside {
  display: none;
}
/* tranding */
.tranding {
  width: 100%;
  padding: var(--pdg-min) 30px;
  margin-top: 90px;
}
.tranding-head {
  display: flex;
  justify-content: space-between;
}
.trand {
  display: flex;
  justify-content: space-between;
  margin-block: var(--pdg-min);
}
.trand-info {
  color: var(--gray-color);
}

/* follow */
.aside-pg .follow {
  margin-top: 45px;
  background-color: blue;
}
.follow {
  width: 100%;
  padding: var(--pdg-min);
  margin-top: 10px;
}
.follow .avatar {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.follow-content {
  list-style: none;
}
.follow-content li {
  display: flex;
  justify-content: space-between;
  margin-block: var(--pdg-min);
}
.follow-content li > div {
  display: flex;
}
.btn-follow {
  font-weight: 600;
  height: 30px;
  width: 60px;
  color: var(--dark-color);
  border-radius: 15px;
  background-color: var(--light-color);
}
.btn-follow:hover {
  cursor: pointer;
  opacity: 0.7;
}
.more {
  font-weight: 700;
  color: var(--blue-color);
}
.follow-more:hover {
  cursor: pointer;
}
.footer {
  color: var(--gray-color);
  line-height: 1.5;
}
.footer a {
  text-decoration: none;
  color: var(--gray-color);
  margin-right: 12px;
}

/* RESPONSIVE ASIDE*/
@media screen and (min-width: 786px) {
  .local-aside {
    display: block;
    min-width: 280px;
    max-width: 380px;
    margin-top: 35px;
  }
  .local-aside  > * {
    width: 100%;
    margin-bottom: var(--pdg-min);
  }
  .local-aside  > label {
    position: relative;
  }
  .local-aside > label img {
    position: absolute;
    top: -1px;
    left: 10px;
  }
  #search {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background-color: var(--bg-aside);
    border: none;
  }
  #search::placeholder {
    padding-left: var(--pdg-max)
  }
  .sidebar .btn {
    width: fit-content;
    padding-inline: var(--pdg-max);
  }
  .menu-btns {
    display: flex;
    align-items: center;
    column-gap: var(--pdg-min);
  }
  .local-tranding, .local-follow {
    background-color: var(--bg-aside);
    padding: var(--pdg-min);
    margin-block: var(--pdg-min);
    border-radius: 25px;
  }
}
@media  screen and (min-width: 1024px) {
  .local-aside {
    margin-top: 0;
  }
}